button {
  margin-bottom: 0.5rem;
}

body > button {
  background-color: rgb(53, 161, 204);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

div#bookSection {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  font-size: 2rem;

  div {
    position: relative;
    border-radius: 0.5rem;
    border-width: 2px;

    button {
      position: absolute;
      bottom: 0;
      justify-self: center;
      font-size: 1rem;
      width: 150px;
      padding-block: 0.25rem;
      background-color: rgb(174, 255, 191);
    }

    .change-state {
      margin-bottom: 3rem;
    }
  }
}

div:not(#bookSection) {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}

form {
  display: flex;

  button {
    background-color: rgb(49, 189, 36);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }

  div:nth-child(2) {
    align-content: center;
  }
}
